.Game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 65vw;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}